<!DOCTYPE html>
<html lang="en" th:replace="~{baseFragment::parent(~{::#content} , ~{::title} , ~{::script})}">
<head>
    <!--this html content will be replaced wholly by the content of parent fragment-->
<title>Room Inquiry</title>
</head>
<body>
    <div id="content" class="border">
                <!-- Banner Section -->
        <section class="bg-green-600 text-white py-20">
            <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">Room Inquiry</h2>
            </div>
            <!-- Selected room -->
            <section class="container mx-auto" id="selectedRoomsSection">
                <div class="p-6 rounded shadow">
                    <h3 class="text-2xl text-center font-bold mb-4">Selected Rooms</h3>
                    <table class="table-auto w-full border-collapse border border-gray-300">
                        <thead>
                            <tr>
                                <th class="border px-4 py-2">Room Number</th>
                                <th class="border border-gray-300 px-4 py-2">Room Type</th>
                                <th class="border border-gray-300 px-4 py-2">Unit Price</th>
                                <th class="border border-gray-300 px-4 py-2">Operation</th>
                            </tr>
                        </thead>
                        <tbody id="selectedRoomsBody">
                            <!-- dynamic generation -->
                        </tbody>
                    </table>
                    <!-- Total price -->
                    <div class="text-right font-bold mt-4">
                        Total Price: <span id="totalPrice">0</span>
                    </div>
                </div>
            </section>

            <!-- Room search form -->
            <section class="container mx-auto my-2">
                <div class="p-6 rounded shadow"> 
                    <div class="flex flex-wrap items-center gap-4 mb-4">
                        <div class="flex-1">
                            <label class="block font-semibold mb-1" for="checkInDate">Checkin Date:</label>
                            <input
                                    type="date"
                                    id="checkInDate"
                                    class="w-full border rounded py-2 px-3 focus:outline-none text-gray-600"
                            />
                        </div>
                        <div class="flex-1">
                            <label class="block font-semibold mb-1" for="checkOutDate">Checkout Date:</label>
                            <input
                                    type="date"
                                    id="checkOutDate"
                                    class="w-full border rounded py-2 px-3 focus:outline-none text-gray-600"
                                    onchange="this.style.color = '#000000';"
                            />
                        </div>
                        <div class="flex-1">
                            <label class="block font-semibold mb-1" for="roomType">Room Type:</label>
                            <select
                                    id="roomType"
                                    class="w-full border rounded py-2 px-3 focus:outline-none text-gray-400"
                                    onchange="this.style.color = '#000000';"
                            >
                                <option value="" selected disabled hidden>Select Room Type</option>
                                <option value="all">All Room Types</option>
                                <option value="Deluxe">Deluxe</option>
                                <option value="Standard">Standard</option>
                                <option value="Suite">Suite</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button
                                id="searchBtn"
                                class="bg-green-500 text-white rounded px-4 py-2">
                            Search
                        </button>
                    </div>
                </div>
            </section>

            <!-- Search Results -->
            <section
            class="container mx-auto my-2"
            id="resultSection">
                <div class="p-6 rounded shadow">
                    <h3 class="text-2xl text-center font-bold mb-4">Search Results</h3>
                    <table
                            id="roomsTable"
                            class="table-auto w-full border-collapse border border-gray-300">
                        <thead>
                            <tr>
                            <th class="border px-4 py-2">Room Number</th>
                            <th class="border border-gray-300 px-4 py-2">Room Type</th>
                            <th class="border border-gray-300 px-4 py-2">Unit Price</th>
                            <th class="border border-gray-300 px-4 py-2">Add Room</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- dynamic generation -->
                         </tbody>
                    </table>
                </div>
            </section>
            <script src="/js/roomInquiry.js"></script>
    </div>
</body>
</html>